<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pontos turisticos</title>
    <link rel="stylesheet"  type="text/css" href="/estilos/style.css">
</head>
<body>
    <header>
        <nav>
            <h1 class="saudação">  <strong> Bem vindo ao Marco Zero</strong></h1>
        </nav>
        <a>
        <img src="/img/marco-zero1.jpeg" alt="imagem do marco zero" title="imagem marco zero">
        </a>

        
    </header>
    <main>
        
        <section>
            <h2>Sobre o <strong>Marco zero</strong></h2>
            <p>O Marco Zero, na Praça Rio Branco, é conhecido como local de fundação da cidade do Recife e também como ponto inicial de contagem das distâncias calculadas a partir da cidade. O lugar é um dos pontos mais importantes na capital Pernambucana, pois é também uma região de forte movimento durante o Carnaval.  </p>
            <p>Aproveite sua visita para tirar uma foto com os dois marcos (o antigo e o novo), observar a vista para o Parque de Esculturas e os edifícios do Centro Cultural da Caixa e da Associação Comercial de Pernambuco.</p>
            <p>Se quiser fazer compras, vale a pena visitar o novo Mercado de Artesanato, que também fica no local. </p>
        </section>
    </main>
    <footer>
        <div class="rodape1">
        
            
        
           
            <ul>
            <h2>Saiba mais</h2>
            
            <li>mais sobre marco zero</li>
            <li>historia da cidade de recife</li>
            <li>outro lugares </li>
         <div class="coprygth">   
            <a>Copright @2024</a>
         </div>   
        </ul>
    
        
        
        </div>    
    </footer>
    
</body>
</html>