<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pontos turisticos</title>
    <link rel="stylesheet"  type="text/css" href="style.css">
</head>
<body>
    <header>
        <a href="/">
        <img src="..//img/marco-zero1.jpeg " alt="imagem do marco zero" title="imagem marco zero">
        <img src="..//img/marco-zero3.jpeg" alt=" imagem marco zero" title="imagem marco zero">  
        <img src="..//img/marcozero.jpeg.png" alt="outra imagem marco zero" title="outra imagem marco zero">
        </a>

        <nav>
            <ul>
                <li> 
                    <a href="novop.html" target="_blank">Outro ponto turistico de recife</a></li>
            </ul>

        </nav>
    </header>
    <main>
        <h1>  <strong> Bem vindo ao Marco Zero</strong></h1>
        <section>
            <h2>Sobre o <strong>Marco zero</strong></h2>
            <p>O Marco Zero, na Praça Rio Branco, é conhecido como local de fundação da cidade do Recife e também como ponto inicial de contagem das distâncias calculadas a partir da cidade. O lugar é um dos pontos mais importantes na capital Pernambucana, pois é também uma região de forte movimento durante o Carnaval.  </p>
            <p>Aproveite sua visita para tirar uma foto com os dois marcos (o antigo e o novo), observar a vista para o Parque de Esculturas e os edifícios do Centro Cultural da Caixa e da Associação Comercial de Pernambuco.</p>
            <p>Se quiser fazer compras, vale a pena visitar o novo Mercado de Artesanato, que também fica no local. </p>
        </section>
    </main>
    <footer>
        <a>Copright @2024</a>

    </footer>
    
</body>
</html>