<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"  type="text/css" href="style.css">
</head>
<body>
    <header>
        <a href="/">
        <img src="..//img/ceramica francisco brennando.jpg" alt="oficina ceramica" title="Oficina ceramica">
        <img src="..//img/praiaboaviagem.webp " alt=" Praia Boa viagem" title="Praia boa viagem">  
        <img src="..//img/praiapina.jpg" alt="Praia pina" title="Praia Pina">
        <img src="..//img/recife antigo.jpg antigo.jpg "alt="Recife antigo" title="Recife Antigo">
        </a>

        <nav>
            <ul>
                <li>
                    <a href="/index.html">Marco Zero</a>
                  </li>
            </ul>

        </nav>
    </header>